* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    display: inline-block;
}

a {
    color: unset;
    &:hover {
        color: unset;
        text-decoration: none;
    }
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

#brand-logo {
    max-width: 60px;
}

#social {
    li {
        margin-left: 10px;
        font-size: 22px;
        color: $colBrand;
        cursor: pointer;
        &:hover {
            color: $teal;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.social {
    @include flex(row, center, center);
    width: 50px;
    height: 50px;
    font-size: 22px;
    color: $colBrand;
    cursor: pointer;
    padding: 5px;
    &:hover {
        color: $teal;
    }
}

.primary-buttons {
    @include flex(row, center, center);
    display: inline-flex;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    color: $colBrand;
    cursor: pointer;
    font-size: 22px;
    &:hover {
        color: $teal;
    }
    &:first-child {
        margin-left: 0;
    }
}

.primary-badge {
    background-color: $colBrand;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 4px;
    margin-right: 4px;
    border-radius: 4px;
    text-transform: uppercase;
}

.title {
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

.sub-title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
}