footer div {
    @include flex(row, center, center);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    #footer-title {
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Cabin Sketch', cursive;
        margin: 0;
        &.legambiente {
            display: none;
        }
    }
}

@media screen and (min-width: $sm-min) {
    footer div {
        #footer-title {
            &.legambiente {
                display: block;
            }
            &.seguici {
                display: none;
            }
        }
    }
}