#main-section {
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 50px;
    background-image: url(~/img/jumbotron.jpg);
    background-position: center;
    background-size: cover;
    overflow-y: auto;

    .container {
        max-width: 760px;
    }

    text-align: center;
    text-transform: uppercase;
    font-family: 'Cabin Sketch', cursive;
    color: $colTextHov;
    #main-title {
        font-size: 26px;
        text-align: center;
    }

    h1 {
        text-transform: uppercase;
        font-size: 26px;
        font-family: 'Cabin Sketch', cursive;
    }

    .post-item {
        margin: 10px 0;
    }
}

@media screen and (min-width: $lg-min) {
    #main-section {
        .container {
            max-width: 1140px;
        }
    }
}