#main-section {
    min-height: 100vh;
    background-image: url(~/img/jumbotron.jpg);
    background-position: center;
    background-size: cover;

    // welcome page
    &.welcome {
        @include flex(row, center, flex-end);
        text-align: center;
        text-transform: uppercase;
        font-family: 'Cabin Sketch', cursive;
        color: $colTextHov;
        #main-title {
            font-size: 26px;
            text-align: center;
        }
    }

    // other public pages
    &.app-public {
        
    }
}