#next-page {
    #carouselContainer {
        height: 60vh;
        width: 100%;
    }
}

@media screen and (min-width: $sm-min) {
    #next-page {
        #carouselContainer {
            width: 60vw;
            margin: auto;
        }
    }
}