#posts-page {
    height: calc(100vh - 150px);
    overflow: auto;

    // Filter
    
    // Posts
    & > .row {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    #posts-wrapper {
        height: 100%;
        overflow: auto;
        .post-card {
            position: relative;
            display: block;
            min-height: 400px;
            background-position: center;
            background-size: cover;
            border-radius: 12px;
            margin-bottom: 30px;

            &::after {
                content: '';
                position: absolute;
                top: 0; bottom: 0; left: 0; right: 0;
                background-color: rgba(255,255,255, 0.4);
                border-radius: 12px;
            }

            &:hover .post-card-body {
                .post-card-info {
                    .post-card-body {
                        display: block;
                    }
                }
            }

            .post-card-info {
                position: absolute;
                bottom: 0; left: 0; right: 0;
                background-color: rgba(255,255,255, 1);
                border-radius: 0 0 12px 12px;
                padding: 0 16px;
                transition: height 1s;

                .post-card-top {
                    @include flex(row, space-between, center);
                    padding: 4px 0;

                    .tags {
                    
                    }

                    .date {

                    }
                }

                .post-card-header {
                    @include flex(column, space-between, flex-start);

                    .title {
                        margin-bottom: 14px;
                    }

                    .author {

                    }
                }

                .post-card-body {
                    height: 100px;
                    max-height: 0px;
                    transition: max-height 1s;
                    overflow: hidden;
                    padding: 4px 0;
                }

                .active-card-buttons {
                    display: none;
                }
            }

            &:hover {
                .post-card-info {
                    .post-card-body {
                        max-height: 100px;
                    }
                }
            }

            #carouselPostWrapper {
                display: none;
            }

            // ACTIVE not carousel-visible
            &.active {
                position: fixed;
                top: 0; bottom: 0; left: 0; right: 0;
                background-image: url(~/img/jumbotron.jpg)!important;
                margin-bottom: 0;
                border-radius: 0;
                z-index: 10;
                cursor: context-menu;

                .title {
                    font-family: 'Cabin Sketch', cursive;
                }

                &::after {
                    content: unset;
                }

                .post-card-info {
                    display: flex;
                    flex-direction: column;
                    border-radius: 12px 12px 0 0;
                    padding: 50px 25px;
                    height: 90vh;
    
                    .post-card-top {
                    }
    
                    .post-card-header {
                        order: -1;
                        h6 {
                            font-size: 26px;
                            align-self: center;
                            font-weight: normal;
                        }
                    }
    
                    .post-card-body {
                        display: block;
                        height: unset;
                        max-height: unset;
                        overflow: auto;
                    }

                    .active-card-buttons {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background-color: rgba(255,255,255, 1);
                        padding: 4px;
                        border-radius: 29px;
                        font-size: 13px;
                    }
                }
            }

            // ACTIVE && carousel-visible
            &.active.carousel-visible {

                .post-card-info {
                    height: 50px;
    
                    .post-card-top {
                    }
    
                    .post-card-header {
                    }
    
                    .post-card-body {
                    }

                    .active-card-buttons {
                    }

                    #carouselPostWrapper {
                        display: block;
                    }
                }
            }
        }
    }
}